body {
    width: 512px;
    }
section {
    border: 2px; 
    border-color: black;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    height: 180px;
    margin-left: 85px;
}
hr {
    color: black ;
    border-top: 2px solid
}
